@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

:root {
  --color-primary: #1f54ff;
  --color-title: #000;
  --align-title: left;
  --padding-container: 100px 0;
  --width-container: 90%;
  --max-width-container: 1200px;
  --color-btn: #1f54ff;
  --text-btn: #fff;
  --padding-btn: 20px 35px;
  --height-shape: 18em;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ececec;
  opacity: 1;
  background-image: radial-gradient(
    #4f4f4f 0.8500000000000001px,
    #282c34 0.8500000000000001px
  );
  background-size: 17px 17px;
}

.container {
  width: var(--width-container);
  max-width: var(--max-width-container);
  padding: var(--padding-container);
  margin: 0 auto;
  overflow: hidden;
}

.hero{
  height: 100vh;
  min-width: 500px;
  position: relative;
  --padding-container:0;
}

.hero::after{
  content: "";
  display: block;
  position: absolute;
  height: 40em ;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(102, 102, 102, 0.268);
  z-index: -1;
  clip-path: polygon(0 100%,100% 100%,100% 0);
}

.hero__container{
  display: grid;
  height: 100%;
  grid-template-columns: 3fr 2fr;
  place-items: center;
  gap: 20px;
}

.hero__title{
  font-size: 4rem;
  color: #ccc;
}

.hero__copy{
  font-size: 1.2rem;
  margin: 25px 0;
  color: #ccc;
}

.hero__cta{
  display: inline-block;
  background: var(--color-btn);
  color: #fff;
  padding: var(--padding-btn);
  text-align: center;
  text-decoration: none;
}

.hero__img{
  width: 100%;
}

/* main */

.main{
  background: rgba(255, 255, 255, 0.507) ;
}

.title{
  font-size: 2.5rem;
  text-align: var(--align-title);
  color: var(--color-title);
}

.title--border::after{
content: "";
display: block;
width: 100px;
margin-top: 20px;
height: 4px;
background: var(--color-primary);
}

.cta{
  display: inline-block;
  background: var(--color-btn);
  color: var(--text-btn);
  padding: var(--padding-btn);
  text-align: center;
  text-decoration: none;
}

/* owner*/

.owner{
  text-align: center;
  border-bottom: 2px solid #ccc;
  --padding-container: 20px 60px;
}

.owner__container{
  width: 70%;
  margin: 0 auto;
}

.owner__name{
  margin: 20px 0;
}

.owner__tag{
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 20px;
}

.owner__paragraph{
  text-align: left;
  line-height: 1.5;
  font-style: italic;
  color: #615a5a;
}

.owner__img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/* about */

.about{
  display: grid;
  grid-template-columns: 5fr 4fr;
  place-items: center;
}

.about__me{
  width: 90%;
}

.about__paragraph{
  margin: 20px 0;
  line-height: 1.5;
  font-weight: 300;
}

.about__picture{
  text-align: center;
}

.about__img{
  width: 100%;
}


/* card */

.card{
  background: #f2f2f2;
}

.card__copy::after{
  content: "";
  display: block;
  width: 25px;
  margin-top: 10px;
  height: 3px;
  background: var(--color-primary);
}

.card__copy{
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

.card__container{
  width: 99%;
  margin: 0 auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  grid-template-areas: 
  ".         card1     .    "
  "card2     card1     card3"
  "card2     card4     card3"
  ".         card4     .    ";
}

.card__item{
  padding: 20px;
  background: #fff;
  border-top: 5px solid #667eea;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__img{
  background: var(--color-primary);
  margin-top: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__title{
  margin: 20px 0;
  font-size: 1.5rem;
}

.card__paragraph{
  font-weight: 300;
  margin-bottom: 20px;
}

.card__item:nth-last-of-type(1){
  grid-area: card1;
}

.card__item:nth-last-of-type(2){
  grid-area: card2;
}

.card__item:nth-last-of-type(3){
  grid-area: card3;
}

.card__item:nth-last-of-type(4){
  grid-area: card4;
}

/* Projects */

.course{
  --color-title: #fff;
  --color-btn: #fff;
  --text-btn:#1f54ff;
  color: var(--color-title);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.course__about{
  z-index: 100;
  align-self: center;
  width: 97%;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  background: var(--color-primary);
  grid-column: 1/4;
  grid-row: 2/-2;
}

.course__picture{
  margin: 0;
  grid-column: 3/ -1;
  grid-row: 1/ -1;
}

.course__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course__about--rigth{
  grid-column: 1/4;
}

.course__about--left{
  grid-column: 3/-1;
}

/* footer */

.footer{
  position: relative;
}

.footer::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 40em;
  background: rgba(255, 255, 255, 0.507);
  z-index: -1;
  clip-path: polygon(0 100%,0 0,100% 0%)
}

.footer__contact{
  display: grid;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  grid-template-columns: repeat(2, 1fr) ;
  place-items: center;
  margin-bottom: 30px;
  gap: 20px;
}

.footer__paragraph{
  margin: 20px 0;
  font-weight: 300;
}

.footer__picture{
  margin: 0;
}

.footer__img{
  width: 100%;
  background: #444df750;
  display: flex;
border-radius: 10%;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.footer__social{
  display: flex;
  padding-top: 10px;
}

.footer__icon{
  height: 50px;
  background: #444df771;
  display: flex;
  border: 2px solid #000;
  border-radius: 50%;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.footer__copyright{
  padding: 5px;
  font-size: 0.8rem;
  background: #fff;
  width: 240px;
  border-radius: 5px;
}